.practicep1{color:green}

/* Lightbox Animation */
#lightbox{
    top:0;
    left:0;
    height:0;
    width:0;
    position:fixed;
    overflow:hidden;
    transition: all 2s ease-in-out;
}

#lightbox:target{
    top:25%;
    left:25%;
    height:30%;
    width:30%;
    background-color:beige;
}

/* Skill Section */
#skill{
    height:100vh;
    width:100vw;
    margin-top:10px;
    background-color:antiquewhite;
}
.skilltitle{
    color:brown;
    margin-left:46%;
    padding-top:20px;
    font-size:xxx-large;
    font-style:italic;
}

/* skill flexbox1 */
.skillflexbox{
    display:flex;
    background-color:rgb(188, 164, 166);
    height:70%;
    width:60%;
    margin-left:10%;
    border-width:2px;
    border-style:solid;
    border-color:black;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items:center;
}

.skillsflexbox1{
    display:flex;
    background-color:whitesmoke;
    height:50px;
    width:180px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    border-radius:30px;
    margin-top:50px;
    background-size:50%;
}

.skillsflexbox2{
    display:flex;
    background-color:whitesmoke;
    height:50px;
    width:180px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin-top:50px;
    border-radius:30px;
}

.skillsflexbox3{
    display:flex;
    background-color:whitesmoke;
    height:50px;
    width:180px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin-top:50px;
    border-radius:30px;
}

.skillsflexbox4{
    display:flex;
    background-color:whitesmoke;
    height:50px;
    width:180px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin-top:50px;
    border-radius:30px;
}

.skillsflexbox5{
    display:flex;
    background-color:whitesmoke;
    height:50px;
    width:180px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    border-radius:30px;
}

.skillsflexbox6{
    display:flex;
    background-color:whitesmoke;
    height:50px;
    width:180px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    border-radius:30px;
}

/* Subject_flexbox_parcent */

.skillsflexbox1percent{
    height:inherit;
    width:60%;
    background-color:orange;
    border-radius:30px;
}

.skillsname1{
    text-align:center;
    position:absolute;
    padding-left:30px;
    font-size:20px;
    margin-top:10px;
}

.skillsflexbox4{
    margin:0px;
}

.skillsflexbox2percent{
    height:inherit;
    width:90%;
    background-color:orange;
    border-radius:30px;
}

.skillsname2{
    text-align:center;
    position:absolute;
    padding-left:30px;
    font-size:20px;
    margin-top:10px;
}

.skillsflexbox3percent{
    height:inherit;
    width:90%;
    background-color:orange;
    border-radius:30px;
}

.skillsname3{
    text-align:center;
    position:absolute;
    padding-left:30px;
    font-size:20px;
    margin-top:10px;
}

.skillsflexbox4percent{
    height:inherit;
    width:90%;
    background-color:orange;
    border-radius:30px;
}

.skillsname4{
    text-align:center;
    position:absolute;
    padding-left:30px;
    font-size:20px;
    margin-top:10px;
}

.skillsflexbox5percent{
    height:inherit;
    width:40%;
    background-color:orange;
    border-radius:30px;
}

.skillsname5{
    text-align:center;
    position:absolute;
    padding-left:30px;
    font-size:20px;
    margin-top:10px;
}

.skillsflexbox6percent{
    height:inherit;
    width:40%;
    background-color:orange;
    border-radius:30px;
}

.skillsname6{
    text-align:center;
    position:absolute;
    padding-left:30px;
    font-size:20px;
    margin-top:10px;
}

/* experience_section */
#experience{
    height:100vh;
    width:100%;
    background-color:rgb(195, 160, 228);
    margin-top:4px;
}

.experienceh2{
    text-align:center;
}

.experienceflexbox{
    display:flex;
    flex-direction:column;
    height:80vh;
    width:70%;
    border-style:groove;
    border-width:4px;
    border-color:black;
    background-color:antiquewhite;
    margin-left: 15vw;
}

.experienceflexbox1{
    display:flex;
    flex-direction:column;
    height:25vh;
    width:32vw;
    background-color:cadetblue;
}

.experienceflexbox1:nth-child(2n){
    margin-left:53%;
}

.timelinedivider{
    border-left-width:3px;
    border-style:dashed;
    border-color:black;
    position:absolute;
    height:80%;
    width:0;
    left:51%;
}

.timelinetravellar{
    font-size:30px;
    color:black;
    transform:rotate(135deg);
    z-index:1;
    top:33%;
    position:sticky;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -10px;
}

/* Projects Section */
#projects{
    height:100vh;
    width:100vw;
    background-color:darkgray;
    margin-top:10px;
}

.projectheading{
    font-size:44px;
    color:brown;
    text-align:center;
    padding-top:16px;
}

.wordwrap{
    border-width:3px;
    border-style:groove;
    border-color:chocolate;
    height:auto;
    width:300px;
    word-wrap:break-word;
}

.pseudoclassp1:visited{
    color:rgb(148, 222, 12);
}

.hoverp1:hover{
    background-color:darkorchid;
}

/* media quires */
@media screen and (max-width:600px){
    .experienceflexbox{
        width:20%;
    }
    .timelinedivider{
        left:15%;
    }
}